@font-face { 
  font-family: SourceSansPro-Regular;
  src: url(fonts/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;

}
body {
  font-family: "SourceSansPro-Regular";
  font-family: "SourceSansPro-Regular";
  background-image: url("Images/back1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.listList li{
  display: none !important;
}

/*INDEX*/
 
.splash {
  text-align: center;
  color: white;

}

.splash h1 {
  margin-top: 10%;

}

/* MAIN */
.img {
  height: 60px;
}

.logo {
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
}
.main_header {
  background-color: #283b8a;
  text-align: center;
  color: white;
}
.img_header img {
  width: 100%;
  height: auto;
  margin-top: -8px;
}
.welcome {
  text-align: center;
}
.welcome h1 {
  margin-top: 50px;
  color: black;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
}
.welcome p {
  text-align: center;
  position: relative;
  font-size: 60px;
  color: black;
  font-weight: 400;
  margin: 0;
}

.wrapper {
  align-self: center;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-right: auto;
}

.jobTitle {
  font-size: 15vw !important;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
 
}

input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid lightgray;
}

input[type=button] {
  background-color: #283B8A;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center
}

::placeholder {
  font-size: 18px;
  text-align: center;
  color: black;
}

.form1 {
  width: 50%;
  display: inline-block;
  margin: 3% auto;
}

/* Set a style for all buttons */

button:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  color: white;
  background-color: #283b8a;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*BUTTON*/
.loginButton {
  border-radius: 100px;
  width: 80%;
  margin-top: 5% !important;
  display: inline-block;
  text-transform: uppercase;
}